.transactionHistory {
    width: 400px;
    background-color: #fff;
    margin: auto;
    margin-top: 25px;
}

.transactionHistory thead {
    background-color: #00bcd5;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
}

.transactionHistory tbody {
    color: #8b8e91;
    text-align: center;
}

.transactionHistory tbody tr {
    height: 40px;
}

.transactionHistory tbody tr:nth-child(even) {
    background-color: #ecf1f4;
}